html {
  scroll-behavior: smooth;
}

body {
  font-family: arial;
  background-color: #e3e3;
  color: #3e3e3e;
  border: 2px solid black;
}

.content {
  padding: 1em;
}

section {
  border-bottom: 2px solid black;
}

.long_text {
  font-size: 1.2em;
  line-height: 1.3em;
  width: 100%;
  text-align: right;
}

/* Header  */
.nav {
  background-color: #3e3e3e;
  padding: 0.3em;
}

.nav p {
  display: inline;
  font: 3em courier;
  color: #efefef;
  padding-left: 0.5em;
  letter-spacing: 5px;
}

.nav_items {
  float: right;
  padding: 1.2em;
}

a {
  color: #efefef;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 2em;
  transition-duration: 0.5s;
}

a:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  text-shadow: 2px -1px 10px;
}

/* Introduction */
.heading {
  text-align: right;
  display: block;
  font-size: 1.5em;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.4em;
}

.heading_job {
  color: #333333;
  font-style: italic;
  letter-spacing: 0.1em;
}

/* My Projects */
.window {
  height: 440px;
  align-content: center;
}

.project {
  background-image: url("https://raw.githubusercontent.com/akshitgupta65/forkify/master/src/img/logo.png?token=GHSAT0AAAAAABRTTEUCR4PX2EXL4VPLARCIYQY46WA");
  background-color: #efefef;
  height: 400px;
  text-align: left;
  margin: 1.5em;
}

.project_text {
  background-color: #636363;
  color: #9f9f9f;
  padding: 0.4em;
  padding-left: 1.4em;
}

/* MY Journey  */

/* Looking Forward */

.forward {
  height: 250px;
  display: flex;
}
.part1 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  height: 200px;
}
.part2 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  height: 200px;
}
.part3 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  height: 200px;
}

/* Footer */
footer {
  background-color: #3e3e3e;
  padding: 0.3em;
  height: 15em;
}

.black {
  color: #efefef;
  letter-spacing: 0.2em;
}
