html {
  scroll-behavior: smooth;
  display: table;
  margin: auto;
}

body {
  font-family: poppins;
  background-color: rgba(145, 115, 145, 0.2);
  color: #3e3e3e;
  border: 1px solid black;
  min-width: 900px;
  max-width: 1000px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 3em;
  padding-right: 3em;
}

.content {
  padding: 1em;
}

section {
  height: auto;
  width: 100%;
  border-top: 3px solid black;
}

section h1 {
  font-size: 2em;
  letter-spacing: 0.4em;
}

.long_text {
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
}

.hidden {
  display: none;
}

/* /////////////////////////////////////////////////////// */
/* Header  */

.nav {
  display: flex;
  height: 50px;
  color: #3e3e3e;
  padding-top: 1em;
  margin-inline-end: 10px;
  z-index: 10;
}

.nav.sticky {
  position: fixed;
  min-width: 965px;
  background-color: rgba(238, 229, 238, 0.95);
  animation: alternate-reverse;
  padding-right: 2em;
  padding-bottom: 1em;
  border-bottom: 3px solid black;
}

.nav p {
  font: 2.5em courier;
  font-weight: 800;
  align-self: center;
  padding: 0.3em;
  letter-spacing: 5px;
  border: 10px double rgb(32, 31, 43);
  border-radius: 50%;
}

.nav_items {
  display: flex;
  float: right;
  align-items: center;
  list-style: none;
}

nav li {
  margin-left: 3rem;
}

a.nav_items-link {
  color: #3e3e3e;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

a.nav_items-link:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  text-shadow: 2px -1px 8px;
}

/* /////////////////////////////////////////////////////// */
/* Introduction */

video {
  margin: 1em;
  border: 4px solid black;
  width: 95%;
  z-index: 0;
}

.heading {
  text-align: right;
  display: block;
  font-size: 1.3em;
}

.heading_job {
  color: #333333;
  font-style: italic;
  letter-spacing: 0.1em;
}

/* ///////////////////////////////////////////////////// */
/* My Projects */

.window {
  position: relative;
  width: 58rem;
  height: 40rem;
  overflow: hidden;
}

.project {
  position: absolute;
  top: 0;
  width: 100%;
  height: 34rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  z-index: 3;

  background-color: #efefef;
  outline: 2px double rgb(65, 63, 63);
  margin-top: 1.5em;
  transform: translateX(0%);
}

img {
  width: inherit;
  height: inherit;
  filter: blur(1.5px);
  z-index: 2;
}

.project_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 33.45rem;
  padding-left: 3%;
  padding-bottom: 1%;
  z-index: 2;

  font-size: large;
  background-color: rgba(65, 63, 63, 0.8);
  color: #e4dede;
}

.animation_fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}

.animation_fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes fadeout {
  from {
    z-index: 3;
  }
  to {
    z-index: 2;
  }
}

.project_text--desc {
  font-size: medium;
  letter-spacing: 0.1em;
}

.project_text a {
  color: #e4dede;
  padding-left: 0.5em;
}
.project_text a:hover {
  color: #b8b1b1;
}

.slider_btn {
  position: relative;
  z-index: 9;
  border: none;
  border-radius: 70%;
  background-color: rgba(253, 252, 247, 0.644);
  color: #2a2d2efd;
  font-family: inherit;
  height: 1.5em;
  width: 1.5em;
  font-size: 2.8em;
  cursor: pointer;
}

.slider_btn:hover {
  color: rgba(253, 252, 247, 0.644);
  background-color: #2a2d2efd;
}

.slider_btn--left {
  left: 45%;
  transform: translate(-50%, -50%);
}

.slider_btn--right {
  right: -40%;
  transform: translate(50%, -50%);
}

/* //////////////////////////////////////////////////////// */
/* MY Journey  */

.tab_container {
  display: flex;
  align-content: center;
  margin: 2%;
  text-align: center;
}

.tab {
  position: relative;
  cursor: pointer;
  font-size: 1.1em;

  padding: 1.5%;
  color: azure;
  border: none;
  border-radius: 50px;
  margin: 0 0 -5.5% 5%;
}

.tab--1 {
  background-color: indianred;
}
.tab--1:hover {
  background-color: rgb(175, 77, 77);
  color: rgb(182, 196, 196);
}

.tab--2 {
  background-color: slategrey;
}
.tab--2:hover {
  background-color: rgb(82, 100, 119);
  color: rgb(182, 196, 196);
}

.tab--3 {
  background-color: steelblue;
}
.tab--3:hover {
  background-color: rgb(60, 109, 150);
  color: rgb(182, 196, 196);
}

.tab--active {
  transform: translateY(-20%);
  outline: 1.5px solid black;
}

.tab_content {
  display: none;
  background-color: #efefef;
  margin: 2%;
  padding: 5.5% 3% 1% 3%;
}

.tab_content--active {
  display: flex;
  background-color: #efefef;
  margin: 2%;
  padding: 5.5% 3% 1% 3%;
}

/* //////////////////////////////////////////////////////// */
/* Looking Forward */

.forward {
  height: 250px;
  display: flex;
}

.part1 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  border: 3px solid black;
  height: 200px;
}

.part2 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  border: 3px solid black;
  height: 200px;
}

.part3 {
  background-color: #efefef;
  width: 30%;
  margin: 1.5%;
  border: 3px solid black;
  height: 200px;
}

/* //////////////////////////////////////////////////////// */
/* Footer */
footer {
  background-color: #3e3e3e;
  padding: 0.3em;
  height: 15em;
  color: #efefef;
}

h2 {
  letter-spacing: 0.2em;
}
