html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
  background-color: #faec6f;
  min-width: 900px;
  margin: 0;
  overflow-x: hidden;
}

section {
  height: auto;
  width: 100%;
  transition: transform 1.2s, opacity 1.2s;
}

.section_title {
  text-align: center;
  font-size: 6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 530;
  letter-spacing: 0.2em;
  color: #114e4a;

  margin-top: 0.2%;
  margin-bottom: 0;
  padding: 8% 0 0 0;
}

.paragraph {
  font-size: 1.5em;
  background-color: #fd7435;
  color: #f3f3f3;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  text-align: justify;
  padding: 8% 20% 8% 20%;
}

/* HIDDEN  */

.section--hidden {
  opacity: 0;
  transform: translateX(8rem);
}

.hidden {
  display: none;
  transition: transform 2s;
  transition-duration: 1s;
}

/* /////////////////////////////////////////////////////// */
/* Header  */

.nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 100px;
  color: #faec6f;
  background-color: #303c6c;
  padding: 0.5em;
  z-index: 10;
  transition: transform 0.5s;
}

.nav.sticky {
  position: fixed;
  width: 99%;
  padding: 0.5em;
  transition: transform 0.5s;
  transform: translateY(1%);
}

.nav p {
  font: 2.5em courier;
  font-weight: 800;
  align-self: center;
  padding: 0.3em;
  letter-spacing: 5px;
  border: 10px double #faec6f;
  border-radius: 50%;
}

.nav_items {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

nav li {
  margin-left: 3rem;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

a.nav_items-link {
  color: inherit;
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

a.nav_items-link:hover {
  cursor: pointer;
  color: #d79922;
  transition-duration: 0.2s;
}

/* /////////////////////////////////////////////////////// */
/* Introduction */

.intro {
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

iframe {
  float: left;
  padding-right: 1%;
  border:none;
  height: 400px;
  width: 45%;
  z-index: 0;
}

.heading {
  float: left;
  color: #13504c;
  letter-spacing: 0.1em;
  font-family: serif;
  font-weight: 500;
  padding-left: 2%;
}

.heading_name {
  font-size: 12rem;
  letter-spacing: 0.1em;
}

.heading_title {
  font-size: 4.5rem;
}

/* ///////////////////////////////////////////////////// */
/* My Projects */

.section--2 h1 {
  background-color: #303c6c;
  color: #faec6f;
  margin-top: -3%;
  margin-bottom: 0;
  padding: 5% 0 4% 0;
}

.slider {
  max-width: 90rem;
  height: 50rem;
  margin: 0 10% 0 10%;
  position: relative;
}

.project {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  display: flex;
  width: 100%;
  height: 34rem;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 3;
  background-color: #faec6f;

  transition: transform 1s;
  transition-duration: 0.5s;
}

img {
  width: 40%;
  height: 25rem;
  /* z-index: 2; */
  transition: transform 1s;
}

.project_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 24.5rem;
  padding-right: 3%;
  padding-bottom: 1%;
  z-index: 2;
  transition: transform 1s;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5em;
  text-align: right;
  background-color: rgba(17, 78, 74, 0.92);
  color: #faec6f;
}

.animation_fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation_fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.project_description {
  width: fit-content;
  font-size: 1.2em;
  color: rgba(17, 78, 74);
  text-align: justify;
  justify-content: flex-start;
  letter-spacing: 0.2em;
  padding: 2% 8% 2% 5%;
  z-index: 5;
}

.project_details {
  font-size: 1.2em;
  color: rgba(17, 78, 74);
  line-height: 2em;
  letter-spacing: 0.1em;
}

.project_links {
  list-style-type: none;
  text-align: right;
  padding-right: 8%;
}

.project_links li {
  background-position: 100%;
  margin-bottom: 1%;
}

.project_links a {
  color: rgba(17, 78, 74, 0.6);
  font-size: 1.2em;
  padding-left: 0.5em;
  text-decoration: dotted;
  transition-duration: 0.2s;
}

.project_links a:hover {
  color: rgba(17, 78, 74);
  letter-spacing: 0.4em;
  transition-duration: 0.2s;
}

.slider_btn {
  position: absolute;
  z-index: 9;
  border: none;
  background-color: #faec6f;
  color: #2a2d2efd;
  font-family: inherit;
  height: 1px;
  width: 1px;
  font-size: 18em;
  cursor: pointer;
}

.slider_btn:hover {
  color: rgba(253, 252, 247, 0.644);
  transition: ease-in-out;
  transition-duration: 0.25s;
}

.slider_btn--left {
  top: 105rem;
  left: 2%;
}

.slider_btn--right {
  top: 105rem;
  left: 92%;
}

/* //////////////////////////////////////////////////////// */
/* MY Journey  */

.section--3 {
  background-color: #303c6c;
}

.section--3 h1 {
  background-color: #303c6c;
  color: #faec6f;
  padding: 5% 0 2% 0;
}

.tab_container {
  display: flexbox;
  align-content: center;
  padding: 2% 3% 0 0;
  text-align: center;
  justify-content: space-around;
  background-color: #303c6c;
}

.tab {
  position: sticky;
  cursor: pointer;
  font-size: 1.5em;
  letter-spacing: 0.1em;

  padding: 1.5%;
  color: #faec6f;
  background-color: #303c6c;
  border: none;
  /* margin: 0 0 -5.5% 5%; */

  transition: ease-in-out;
  transition-duration: 0.25s;
}

.tab:hover {
  color: #d79922;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.tab--active {
  color: #faec6f;
  border-bottom: 0.3em solid #faec6f;

  transition: ease-in-out;
  transition-duration: 0.3s;
}

.tab_content {
  display: none;
  background-color: #faec6f;
  padding: none;

  transition: ease-in-out;
  transition-duration: 0.5s;
}

.tab_content--active {
  display: block;
  padding: none;

  transition: ease-in-out;
  transition-duration: 1s;
}

.tab_content p {
  background-color: #fd7435;
  color: #f3f3f3;
}

.inline_links {
  color: #74452f;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.inline_links:hover {
  text-decoration: none;
  letter-spacing: 0.3em;

  transition: ease-in-out;
  transition-duration: 0.2s;
}

.blockquote {
  font-size: 1.3em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

/* //////////////////////////////////////////////////////// */
/* Footer */

.section--4 {
  margin-top: -2%;
  border: none;
  background-color: #303c6c;
}

.section--4 h1 {
  font-size: 6rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 5%;
}

footer {
  padding: 0.2em;
  height: auto;
  color: #faec6f;
}

table {
  font-size: 1.2em;
  width: 50%;
  margin-top: -2%;
  margin-bottom: 5%;
  padding-left: 3%;
}

tr td {
  text-align: center;
  letter-spacing: 0.1em;
}

table a {
  color: #faec6f;
  text-decoration: solid;

  transition: ease-in-out;
  transition-duration: 0.25s;
}

table a:hover {
  color: #d79922;

  transition: ease-in-out;
  transition-duration: 0.25s;
}

.copyright {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-align: center;
  margin: auto;
}

.copyright span {
  font-size: 1.5em;
}
